networks:
    traefik:
        external: true
        name: traefik-network
    mailpit:
        external: true
        name: mailpit-network

services:
    traefik:
        container_name: traefik
        image: traefik:3.6.7
        volumes:
            - $PWD/traefik/traefik.yml:/etc/traefik/traefik.yml
            - /var/run/docker.sock:/var/run/docker.sock
        restart: unless-stopped
        networks:
            - traefik
        ports:
            - "$TRAEFIK_UI_PORT:8080"
            - "80:80"
        labels:
            - traefik.enable=true
            - traefik.http.routers.traefik.entrypoints=http
            - traefik.http.services.traefik.loadbalancer.server.port=$TRAEFIK_UI_PORT
    
    mailpit:
        container_name: mailpit
        image: axllent/mailpit
        restart: unless-stopped
        networks:
            - traefik
            - mailpit
        labels:
            - traefik.enable=true
            - traefik.http.routers.mailpit.entrypoints=http
            - traefik.http.services.mailpit.loadbalancer.server.port=$MAILPIT_UI_PORT
